# Création du csv avec le bon nombre d'images

In [1]:
import pandas as pd
import os
from PIL import Image
import numpy as np

In [2]:
path = os.getcwd()
print(path)

/Users/pereiradearaujo/Documents/Scolarité/ENSEEIHT/Stage2A

In [20]:
especes_dataset = pd.read_csv(path + "/Images_wild_bees/liste_class.csv")
display(especes_dataset)

    Unnamed: 0              species  No_of_images
0            0       Apis mellifera         49605
1            1                  NaN         30032
2            2     Bombus pascuorum         12455
3            3    Bombus lapidarius          5816
4            4      Bombus hypnorum          5204
..         ...                  ...           ...
69          69  Halictus sexcinctus           117
70          70      Bombus muscorum           117
71          71   Anthophora furcata           116
72          72  Andrena denticulata           109
73          73    Andrena thoracica           101

[74 rows x 3 columns]

In [21]:
especes_dataset.drop(1, inplace=True)
especes_dataset.drop(5, inplace=True)
especes_dataset.drop(32, inplace=True)

In [22]:
especes_dataset.reset_index(inplace=True)

In [23]:
especes_dataset.to_csv(path + "/liste_class_71.csv")

In [24]:
display(especes_dataset)

    index  Unnamed: 0              species  No_of_images
0       0           0       Apis mellifera         49605
1       2           2     Bombus pascuorum         12455
2       3           3    Bombus lapidarius          5816
3       4           4      Bombus hypnorum          5204
4       6           6    Xylocopa violacea          4042
..    ...         ...                  ...           ...
66     69          69  Halictus sexcinctus           117
67     70          70      Bombus muscorum           117
68     71          71   Anthophora furcata           116
69     72          72  Andrena denticulata           109
70     73          73    Andrena thoracica           101

[71 rows x 4 columns]

In [28]:
especes_names = especes_dataset["species"].to_numpy()
print(especes_names)

['Apis mellifera' 'Bombus pascuorum' 'Bombus lapidarius' 'Bombus hypnorum'
 'Xylocopa violacea' 'Bombus pratorum' 'Osmia bicornis' 'Andrena fulva'
 'Osmia cornuta' 'Andrena cineraria' 'Halictus scabiosae'
 'Andrena haemorrhoa' 'Anthidium manicatum' 'Colletes hederae'
 'Anthophora plumipes' 'Bombus hortorum' 'Dasypoda hirtipes'
 'Andrena vaga' 'Colletes cunicularius' 'Bombus lucorum'
 'Anthidium florentinum' 'Bombus sylvarum' 'Bombus rupestris'
 'Andrena hattorfiana' 'Ceratina cucurbitina' 'Bombus vestalis'
 'Andrena clarkella' 'Bombus humilis' 'Sphecodes albilabris'
 'Andrena flavipes' 'Bombus campestris' 'Andrena nitida'
 'Megachile sculpturalis' 'Osmia bicolor' 'Macropis europaea'
 'Andrena nigroaenea' 'Bombus argillaceus' 'Nomada goodeniana'
 'Andrena florea' 'Amegilla quadrifasciata' 'Megachile ericetorum'
 'Xylocopa valga' 'Bombus terrestris lusitanicus'
 'Rhodanthidium septemdentatum' 'Bombus bohemicus' 'Halictus rubicundus'
 'Melecta albifrons' 'Chelostoma florisomne' 'Anthidium oblongatum'
 'Anthidium septemspinosum' 'Rhodanthidium sticticum'
 'Anthidiellum strigatum' 'Andrena agilissima' 'Anthophora bimaculata'
 'Andrena ventralis' 'Andrena bicolor' 'Heriades truncorum'
 'Hylaeus variegatus' 'Osmia caerulescens' 'Bombus ruderatus'
 'Megachile centuncularis' 'Lithurgus chrysurus' 'Osmia aurulenta'
 'Andrena nycthemera' 'Nomada lathburiana' 'Andrena gravida'
 'Halictus sexcinctus' 'Bombus muscorum' 'Anthophora furcata'
 'Andrena denticulata' 'Andrena thoracica']

In [31]:
especes_names.sort()
print(especes_names)

['Amegilla quadrifasciata' 'Andrena agilissima' 'Andrena bicolor'
 'Andrena cineraria' 'Andrena clarkella' 'Andrena denticulata'
 'Andrena flavipes' 'Andrena florea' 'Andrena fulva' 'Andrena gravida'
 'Andrena haemorrhoa' 'Andrena hattorfiana' 'Andrena nigroaenea'
 'Andrena nitida' 'Andrena nycthemera' 'Andrena thoracica' 'Andrena vaga'
 'Andrena ventralis' 'Anthidiellum strigatum' 'Anthidium florentinum'
 'Anthidium manicatum' 'Anthidium oblongatum' 'Anthidium septemspinosum'
 'Anthophora bimaculata' 'Anthophora furcata' 'Anthophora plumipes'
 'Apis mellifera' 'Bombus argillaceus' 'Bombus bohemicus'
 'Bombus campestris' 'Bombus hortorum' 'Bombus humilis' 'Bombus hypnorum'
 'Bombus lapidarius' 'Bombus lucorum' 'Bombus muscorum' 'Bombus pascuorum'
 'Bombus pratorum' 'Bombus ruderatus' 'Bombus rupestris' 'Bombus sylvarum'
 'Bombus terrestris lusitanicus' 'Bombus vestalis' 'Ceratina cucurbitina'
 'Chelostoma florisomne' 'Colletes cunicularius' 'Colletes hederae'
 'Dasypoda hirtipes' 'Halictus rubicundus' 'Halictus scabiosae'
 'Halictus sexcinctus' 'Heriades truncorum' 'Hylaeus variegatus'
 'Lithurgus chrysurus' 'Macropis europaea' 'Megachile centuncularis'
 'Megachile ericetorum' 'Megachile sculpturalis' 'Melecta albifrons'
 'Nomada goodeniana' 'Nomada lathburiana' 'Osmia aurulenta'
 'Osmia bicolor' 'Osmia bicornis' 'Osmia caerulescens' 'Osmia cornuta'
 'Rhodanthidium septemdentatum' 'Rhodanthidium sticticum'
 'Sphecodes albilabris' 'Xylocopa valga' 'Xylocopa violacea']

In [48]:
nb_images_csv = pd.read_csv(path + "/nombre_images_especes.csv")
#nb_images_csv.rename(columns = {'Unnamed: 0':'species', '0':'nb_images'}, inplace = True)
#display(nb_images_csv)

In [46]:
#nb_images_csv.to_csv(path + "/nombres_images_especes.csv")

In [60]:
nb_images_csv.set_index("species", inplace=True)

In [64]:
dic = {}
for i in range(71):
    nom_espece = especes_names[i]
    nb = nb_images_csv.at[nom_espece, "nb_images"]
    dic[nom_espece] = nb

In [66]:
df = pd.DataFrame.from_dict([dic])
display(df.transpose())

                                 0
Amegilla quadrifasciata        224
Andrena agilissima             154
Andrena bicolor                146
Andrena cineraria             1686
Andrena clarkella              457
...                            ...
Rhodanthidium septemdentatum   211
Rhodanthidium sticticum        162
Sphecodes albilabris           436
Xylocopa valga                 217
Xylocopa violacea             4042

[71 rows x 1 columns]

In [67]:
#df.transpose().to_csv(path + "/liste_classes_71.csv")

# Création du répertoire avec les 71 classes

In [70]:
path = os.getcwd()
print(path)

/Users/pereiradearaujo/Documents/Scolarité/ENSEEIHT/Stage2A

In [72]:
import shutil

In [81]:
for i in range(71):
    nom_espece = especes_names[i]
    shutil.copytree(path + "/BD/" + nom_espece, path + "/BD_71/" + nom_espece)